%fieldset
	%legend=@title
	.control-group.primero
		= f.label :nombre, :class => 'control-label'
		.input
			= f.text_field :nombre
	.control-group
		= f.label :orden, :class => 'control-label'
		.input
			= f.text_field :orden
	.control-group
		= f.label :habilitado, :class => 'control-label'
		.input
			= f.check_box :habilitado
	.form-actions
		= f.submit boton, :class => "btn btn-large btn-primary"
		= link_to 'Cancelar', clientes_path, :class => "btn btn-large btn-error"
