-if ingresado?
	= render '/sessions/usuario_logeado'
-else
	= form_for(:session, :url => sessions_path, :html => { :class => "navbar-text pull-right" }) do |f|
		= f.label :email, :class => 'invicible'
		= f.text_field :email, :placeholder => 'Email'
		= f.label :password, :class => 'invicible'
		= f.password_field :password, :placeholder => 'Clave'
		= button_tag  :type => 'submit', :class => 'btn btn-success', :id => 'ingresar' do
			%i.icon-white.icon-play
			Ingresar
