.span4
	%h3= turno.turno.nombre
	%input{:type => "hidden", :value => "#{turno.id}", :name => "[turnoDia][#{turno.id}]"}
	%input{:type => "hidden", :value => "#{turno.produccion.id}", :name => "[produccion][#{turno.produccion.id}]"}

	.control-group
		%label{ :for => "[turno][#{turno.turno.id}][paquetesPapel]", :class => 'control-label'} 
			Paquetes de Papel kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.paquetesPapel}", :name => "[turno][#{turno.turno.id}][paquetesPapel]", "data-name" => 'paquetesPapel'}

	.control-group
		%label.control-label{ :for => "[turno][#{turno.turno.id}][paquetesPolietileno]"} 
			Azucar, Paquetes de Polietileno kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.paquetesPolietileno}", :name => "[turno][#{turno.turno.id}][paquetesPolietileno]", "data-name" => 'paquetesPolietileno'}

	.control-group
		%label.control-label{ :for => "[turno][#{turno.turno.id}][melaza]"} 
			Melaza kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.melaza}", :name => "[turno][#{turno.turno.id}][melaza]", "data-name" => 'melaza'}

	.control-group
		%label.control-label{ :for => "[turno][#{turno.turno.id}][rubio]"} 
			Azucar Rubio kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.rubio}", :name => "[turno][#{turno.turno.id}][rubio]", "data-name" => 'rubio'}

	.control-group
		%label.control-label{ :for => "[turno][#{turno.turno.id}][industriaBolsas]"} 
			Azucar, Industria Bolsas kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.industriaBolsas}", :name => "[turno][#{turno.turno.id}][industriaBolsas]", "data-name" => 'industriaBolsas'}

	.control-group
		%label.control-label{ :for => "[turno][#{turno.turno.id}][bolsasAzucarlito]"} 
			Azucar, Bolsas de Azucarlito kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.bolsasAzucarlito}", :name => "[turno][#{turno.turno.id}][bolsasAzucarlito]", "data-name" => 'bolsasAzucarlito'}

	.control-group
		%label.control-label{ :for => "[turno][#{turno.turno.id}][bigBagAzucarlito]"} 
			Azucar, Big Bag Azucarlito kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.bigBagAzucarlito}", :name => "[turno][#{turno.turno.id}][bigBagAzucarlito]", "data-name" => 'bigBagAzucarlito'}

	.control-group
		%label.control-label{ :for => "[turno][#{turno.turno.id}][bigBagDnd]"} 
			Azucar, Big Bag Industria kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.bigBagDnd}", :name => "[turno][#{turno.turno.id}][bigBagDnd]", "data-name" => 'bigBagDnd'}

	.control-group
		%label.control-label{ :for => "[turno][#{turno.turno.id}][bigBagClientes]"} 
			Azucar, Big Bag Clientes kg
		.controls
			%input{ :type => "text", :value => "#{turno.produccion.bigBagClientes}", :name => "[turno][#{turno.turno.id}][bigBagClientes]", "data-name" => 'bigBagClientes'}

