%td= link_to turno.nombre, turno_path(turno)
%td= turno.orden
%td= turno.habilitado
%td
	= link_to 'Editar', edit_turno_path(turno)
	= link_to "Borrar", turno, :method => :delete, :confirm => "Seguro que desea borrarlo?", :title => "Borrar #{turno.nombre}"
