%table
  %tr
    %th
      Campo
    %th
      BE
    %th
      BRIX
    %th
      POL
    %th
      PZA
    %th
      pH
    %th
      COLOR
    %th
      CENIZA
    %th
      INVERT
    %th
      ALCAL
    %th= "%HUM"
  %tr
    %td
      AZUCAR CRUDO
    %td
    %td
      ="%05.2f" % promedio["azucar_crudo_brix"] if !promedio["azucar_crudo_brix"].nil?
    %td
      ="%05.2f" % promedio["azucar_crudo_pol"] if !promedio["azucar_crudo_pol"].nil?
    %td
      ="%05.2f" % promedio["azucar_crudo_pza"] if !promedio["azucar_crudo_pza"].nil?
    %td
      ="%02.1f" % promedio["azucar_crudo_ph"] if !promedio["azucar_crudo_ph"].nil?
    %td
      =promedio["azucar_crudo_color"].to_i if !promedio["azucar_crudo_color"].nil?
    %td
      ="%02.3f" % promedio["azucar_crudo_ceniza"] if !promedio["azucar_crudo_ceniza"].nil?
    %td
      ="%02.3f" % promedio["azucar_crudo_invert"] if !promedio["azucar_crudo_invert"].nil?
    %td
    %td
      ="%02.3f" % promedio["azucar_crudo_humedad"] if !promedio["azucar_crudo_humedad"].nil?
  %tr
    %td
      MIEL DE AFINACION
    %td
    %td
      ="%05.2f" % promedio["miel_de_afinacion_brix"]  if !promedio["miel_de_afinacion_brix"].nil?
    %td
      ="%05.2f" % promedio["miel_de_afinacion_pol"]  if !promedio["miel_de_afinacion_pol"].nil?
    %td
      ="%05.2f" % promedio["miel_de_afinacion_pza"]  if !promedio["miel_de_afinacion_pza"].nil?
    %td
      ="%02.1f" % promedio["miel_de_afinacion_ph"]  if !promedio["miel_de_afinacion_ph"].nil?
    %td
    %td
      ="%02.3f" % promedio["miel_de_afinacion_ceniza"]  if !promedio["miel_de_afinacion_ceniza"].nil?
    %td
      ="%02.3f" % promedio["miel_de_afinacion_invert"]  if !promedio["miel_de_afinacion_invert"].nil?
    %td
    %td
  %tr
    %td
      AZUCAR AFINADA
    %td
    %td
      = "%05.2f" % promedio["azucar_afinada_brix"] if !promedio["azucar_afinada_brix"].nil?
    %td
      = "%05.2f" % promedio["azucar_afinada_pol"] if !promedio["azucar_afinada_pol"].nil?
    %td
      = "%05.2f" %promedio["azucar_afinada_pza"] if !promedio["azucar_afinada_pza"].nil?
    %td
      = "%02.1f" % promedio["azucar_afinada_ph"] if !promedio["azucar_afinada_ph"].nil?
    %td
      =promedio["azucar_afinada_color"].to_i if !promedio["azucar_afinada_color"].nil?
    %td
      = "%02.3f" % promedio["azucar_afinada_ceniza"] if !promedio["azucar_afinada_ceniza"].nil?
    %td
      = "%02.3f" % promedio["azucar_afinada_invert"] if !promedio["azucar_afinada_invert"].nil?
    %td
    %td
      = "%02.3f" % promedio["azucar_afinada_humedad"] if !promedio["azucar_afinada_humedad"].nil?
  %tr
    %td
      REFUNDICION(JCr)
    %td
    %td
      = "%05.2f" %  promedio["refundicion_brix"] if !promedio["refundicion_brix"].nil?
    %td
      = "%05.2f" %  promedio["refundicion_pol"] if !promedio["refundicion_pol"].nil?
    %td
      = "%05.2f" %  promedio["refundicion_pza"] if !promedio["refundicion_pza"].nil?
    %td
      = "%02.1f" %  promedio["refundicion_ph"] if !promedio["refundicion_ph"].nil?
    %td
      =promedio["refundicion_color"].to_i if !promedio["refundicion_color"].nil?
    %td
    %td
    %td
    %td
  %tr
    %td
      ENCALADO
    %td
      = "%05.2f" % promedio["encalado_be"] if !promedio["encalado_be"].nil?
    %td
    %td
    %td
    %td
      = "%02.1f" % promedio["encalado_ph"] if !promedio["encalado_ph"].nil?
    %td
    %td
    %td
    %td
      = "%02.1f" % promedio["encalado_alcal"] if !promedio["encalado_alcal"].nil?
    %td
  %tr
    %td
      JUGO CARBONATADO
    %td
    %td
    %td
    %td
    %td
      = "%02.1f" %  promedio["jugo_carbonatado_ph"] if !promedio["jugo_carbonatado_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      1a. FILTRACION
    %td
    %td
      = "%05.2f" % promedio["primera_filtracion_brix"] if !promedio["primera_filtracion_brix"].nil?
    %td
      = "%05.2f" % promedio["primera_filtracion_pol"] if !promedio["primera_filtracion_pol"].nil?
    %td
      = "%05.2f" % promedio["primera_filtracion_pza"] if !promedio["primera_filtracion_pza"].nil?
    %td
      = "%02.1f" % promedio["primera_filtracion_ph"] if !promedio["primera_filtracion_ph"].nil?
    %td
      = promedio["primera_filtracion_color"].to_i if !promedio["primera_filtracion_color"].nil?
    %td
    %td
    %td
    %td
  %tr
    %td
      JARABE
    %td
    %td
      = "%05.2f" % promedio["jarabe_brix"] if !promedio["jarabe_brix"].nil?
    %td
      = "%05.2f" % promedio["jarabe_pol"] if !promedio["jarabe_pol"].nil?
    %td
      = "%05.2f" % promedio["jarabe_pza"] if !promedio["jarabe_pza"].nil?
    %td
      = "%02.1f" % promedio["jarabe_ph"] if !promedio["jarabe_ph"].nil?
    %td
      =promedio["jarabe_color"].to_i if !promedio["jarabe_color"].nil?
    %td
    %td
    %td
    %td
  %tr
    %td
      MASA COCIDA A
    %td
    %td
      = "%05.2f" % promedio["masa_cocida_a_brix"] if !promedio["masa_cocida_a_brix"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_a_pol"] if !promedio["masa_cocida_a_pol"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_a_pza"] if !promedio["masa_cocida_a_pza"].nil?
    %td
      = "%02.1f" % promedio["masa_cocida_a_ph"] if !promedio["masa_cocida_a_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MASA COCIDA B
    %td
    %td
      = "%05.2f" % promedio["masa_cocida_b_brix"] if !promedio["masa_cocida_b_brix"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_b_pol"] if !promedio["masa_cocida_b_pol"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_b_pza"] if !promedio["masa_cocida_b_pza"].nil?
    %td
      = "%02.1f" % promedio["masa_cocida_b_ph"] if !promedio["masa_cocida_b_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MASA COCIDA C
    %td
    %td
      = "%05.2f" % promedio["masa_cocida_c_brix"] if !promedio["masa_cocida_c_brix"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_c_pol"] if !promedio["masa_cocida_c_pol"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_c_pza"] if !promedio["masa_cocida_c_pza"].nil?
    %td
      = "%02.1f" % promedio["masa_cocida_c_ph"] if !promedio["masa_cocida_c_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MASA COCIDA D
    %td
    %td
      = "%05.2f" % promedio["masa_cocida_d_brix"] if !promedio["masa_cocida_d_brix"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_d_pol"] if !promedio["masa_cocida_d_pol"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_d_pza"] if !promedio["masa_cocida_d_pza"].nil?
    %td
      = "%02.1f" % promedio["masa_cocida_d_ph"] if !promedio["masa_cocida_d_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MASA COCIDA E
    %td
    %td
      = "%05.2f" % promedio["masa_cocida_e_brix"] if !promedio["masa_cocida_e_brix"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_e_pol"] if !promedio["masa_cocida_e_pol"].nil?
    %td
      = "%05.2f" % promedio["masa_cocida_e_pza"] if !promedio["masa_cocida_e_pza"].nil?
    %td
      = "%02.1f" % promedio["masa_cocida_e_ph"] if !promedio["masa_cocida_e_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MASA AFINADA 1
    %td
    %td
      = "%05.2f" % promedio["masa_afinada_1_brix"] if !promedio["masa_afinada_1_brix"].nil?
    %td
      = "%05.2f" % promedio["masa_afinada_1_pol"] if !promedio["masa_afinada_1_pol"].nil?
    %td
      = "%05.2f" % promedio["masa_afinada_1_pza"] if !promedio["masa_afinada_1_pza"].nil?
    %td
      = "%02.1f" % promedio["masa_afinada_1_ph"] if !promedio["masa_afinada_1_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MASA AFINADA 2
    %td
    %td
      = "%05.2f" % promedio["masa_afinada_2_brix"] if !promedio["masa_afinada_2_brix"].nil?
    %td
      = "%05.2f" % promedio["masa_afinada_2_pol"] if !promedio["masa_afinada_2_pol"].nil?
    %td
      = "%05.2f" % promedio["masa_afinada_2_pza"] if !promedio["masa_afinada_2_pza"].nil?
    %td
      = "%02.1f" % promedio["masa_afinada_2_ph"] if !promedio["masa_afinada_2_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MIEL A
    %td
    %td
      = "%05.2f" % promedio["miel_a_brix"] if !promedio["miel_a_brix"].nil?
    %td
      = "%05.2f" % promedio["miel_a_pol"] if !promedio["miel_a_pol"].nil?
    %td
      = "%05.2f" % promedio["miel_a_pza"] if !promedio["miel_a_pza"].nil?
    %td
      = "%02.1f" % promedio["miel_a_ph"] if !promedio["miel_a_ph"].nil?
    %td
      = promedio["miel_a_color"].to_i if !promedio["miel_a_color"].nil?
    %td
    %td
    %td
    %td
  %tr
    %td
      MIEL B
    %td
    %td
      = "%05.2f" % promedio["miel_b_brix"] if !promedio["miel_b_brix"].nil?
    %td
      = "%05.2f" % promedio["miel_b_pol"] if !promedio["miel_b_pol"].nil?
    %td
      = "%05.2f" % promedio["miel_b_pza"] if !promedio["miel_b_pza"].nil?
    %td
      = "%02.1f" % promedio["miel_b_ph"] if !promedio["miel_b_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MIEL C
    %td
    %td
      = "%05.2f" % promedio["miel_c_brix"] if !promedio["miel_c_brix"].nil?
    %td
      = "%05.2f" % promedio["miel_c_pol"] if !promedio["miel_c_pol"].nil?
    %td
      = "%05.2f" % promedio["miel_c_pza"] if !promedio["miel_c_pza"].nil?
    %td
      = "%02.1f" % promedio["miel_c_ph"] if !promedio["miel_c_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MIEL D
    %td
    %td
      = "%05.2f" % promedio["miel_d_brix"] if !promedio["miel_d_brix"].nil?
    %td
      = "%05.2f" % promedio["miel_d_pol"] if !promedio["miel_d_pol"].nil?
    %td
      = "%05.2f" % promedio["miel_d_pza"] if !promedio["miel_d_pza"].nil?
    %td
      = "%02.1f" % promedio["miel_d_ph"] if !promedio["miel_d_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MIEL E
    %td
    %td
      = "%05.2f" % promedio["miel_e_brix"] if !promedio["miel_e_brix"].nil?
    %td
      = "%05.2f" % promedio["miel_e_pol"] if !promedio["miel_e_pol"].nil?
    %td
      = "%05.2f" % promedio["miel_e_pza"] if !promedio["miel_e_pza"].nil?
    %td
      = "%02.1f" % promedio["miel_e_ph"] if !promedio["miel_e_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MIEL AFINADA 1
    %td
    %td
      = "%05.2f" % promedio["miel_afinada_1_brix"] if !promedio["miel_afinada_1_brix"].nil?
    %td
      = "%05.2f" % promedio["miel_afinada_1_pol"] if !promedio["miel_afinada_1_pol"].nil?
    %td
      = "%05.2f" % promedio["miel_afinada_1_pza"] if !promedio["miel_afinada_1_pza"].nil?
    %td
      = "%02.1f" % promedio["miel_afinada_1_ph"] if !promedio["miel_afinada_1_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MIEL AFINADA 2
    %td
    %td
      = "%05.2f" % promedio["miel_afinada_2_brix"] if !promedio["miel_afinada_2_brix"].nil?
    %td
      = "%05.2f" % promedio["miel_afinada_2_pol"] if !promedio["miel_afinada_2_pol"].nil?
    %td
      = "%05.2f" % promedio["miel_afinada_2_pza"] if !promedio["miel_afinada_2_pza"].nil?
    %td
      = "%02.1f" % promedio["miel_afinada_2_ph"] if !promedio["miel_afinada_2_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      AGUA MADRE
    %td
    %td
      = "%05.2f" % promedio["agua_madre_brix"] if !promedio["agua_madre_brix"].nil?
    %td
      = "%05.2f" % promedio["agua_madre_pol"] if !promedio["agua_madre_pol"].nil?
    %td
      = "%05.2f" % promedio["agua_madre_pza"] if !promedio["agua_madre_pza"].nil?
    %td
      = "%02.1f" % promedio["agua_madre_ph"] if !promedio["agua_madre_ph"].nil?
    %td
    %td
    %td
    %td
    %td
  %tr
    %td
      MELAZA
    %td
    %td
      = "%05.2f" % promedio["melaza_brix"] if !promedio["melaza_brix"].nil?
    %td
      = "%05.2f" % promedio["melaza_pol"] if !promedio["melaza_pol"].nil?
    %td
      = "%05.2f" % promedio["melaza_pza"] if !promedio["melaza_pza"].nil?
    %td
      = "%02.1f" % promedio["melaza_ph"] if !promedio["melaza_ph"].nil?
    %td
    %td
      = "%02.3f" % promedio["melaza_ceniza"] if !promedio["melaza_ceniza"].nil?
    %td
      = "%02.3f" % promedio["melaza_invert"] if !promedio["melaza_invert"].nil?
    %td
    %td
  %tr
    %td
      AZUCAR A
    %td
    %td
    %td
    %td
    %td
    %td
      = promedio["azucar_a_color"].to_i if !promedio["azucar_a_color"].nil?
    %td
    %td
    %td
    %td
      = "%02.3f" % promedio["azucar_a_humedad"] if !promedio["azucar_a_humedad"].nil?
  %tr
    %td
      AZUCAR B
    %td
    %td
    %td
    %td
    %td
    %td
      = promedio["azucar_b_color"].to_i if !promedio["azucar_b_color"].nil?
    %td
    %td
    %td
    %td
      = "%02.3f" % promedio["azucar_b_humedad"] if !promedio["azucar_b_humedad"].nil?
  %tr
    %td
      AZUCAR C
    %td
    %td
    %td
    %td
    %td
    %td
      = promedio["azucar_c_color"].to_i if !promedio["azucar_c_color"].nil?
    %td
    %td
    %td
    %td
      = "%02.3f" % promedio["azucar_c_humedad"] if !promedio["azucar_c_humedad"].nil?
  %tr
    %td
      AZUCAR D
    %td
    %td
    %td
    %td
    %td
    %td
      = promedio["azucar_d_color"].to_i if !promedio["azucar_d_color"].nil?
    %td
    %td
    %td
    %td
      = "%02.3f" % promedio["azucar_d_humedad"] if !promedio["azucar_d_humedad"].nil?
