%table.table
  %thead
    %tr
      %th= '#'
      - turnos.each do |turno|
        %th= turno.turno.nombre
      %th= 'Total'
  %tbody
    %tr
      %td
        Crudo Procesado Kg.
      - turnos.each do |turno|
        %td= turno.insumo.crudoProcesado
      %td= total[:crudoProcesado]
    %tr
      %td
        Tiraje m3
      - turnos.each do |turno|
        %td= turno.insumo.tiraje
      %td= total[:tiraje]
    %tr
      %td
        Brix Promedio
      - turnos.each do |turno|
        %td= @brix[turno.turno.nombre]
      %td
    %tr
      %td
        kg caudalimetro
      - turnos.each do |turno|
        %td= @caudalimetro[turno.turno.nombre]
      %td
