%table.table
  %thead
    %tr
      %th
        Nombre
      %th
        Valor
  %tbody
    %tr
      %td
        Cal Viva Kg.
      %td
        = insumo_diario.cal_viva
    %tr
      %td
        Carbon Activado Kg.
      %td
        = insumo_diario.carbon_activado
    %tr
      %td
        Auxiliar de filtracion Kg.
      %td
        = insumo_diario.auxiliar_filtracion
    %tr
      %td
        Acido Clorhidrico
      %td
        = insumo_diario.acido_clorhidrico
    %tr
      %td
        Leña Caldera Kg.
      %td
        = insumo_diario.lenia_caldera
    %tr
      %td
        Chip Kg.
      %td
        = insumo_diario.chip
    %tr
      %td
        Aserrin Kg.
      %td
        = insumo_diario.aserrin
    %tr
      %td
        Gasoil
      %td
        = insumo_diario.gasoil
