.container
  .well
    %h1
      = @title
  .row
    .span12
      %p.no_print
        = link_to 'Imprimir', informe_analisis_promedio_path(@dia.fecha, :format => 'pdf'), :class => 'btn btn-success btn-large'
        = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
  .row
    .span12
      =render 'analisis_promedio', :promedio => @promedio
  .row
    .span12
      %p.no_print
        = link_to 'Imprimir', informe_analisis_promedio_path(@dia.fecha, :format => 'pdf'), :class => 'btn btn-success btn-large'
        = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
