.container
  .span12{:style => 'height:120px'}
    .row
      .span3
        %img{:src => '/assets/logo.png'}
      .span9
        %h1{:style => 'padding-top:50px;'}
          = @title
  .span12
    .row
      .span12
        %p.no_print
          = link_to 'Imprimir', informe_analisis_path(@dia.fecha, @promedio.turnoDia_id, :format => 'pdf'), :class => 'btn btn-success btn-large'
          = link_to 'Excel', informe_analisis_path(@dia.fecha, @promedio.turnoDia_id, :format => 'xls'), :class => 'btn btn-warning btn-large'
          = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
    .row
      .span12.tabla-analisis
        =render 'analisis', :promedio => @promedio
    .row
      .span12
        %p.no_print
          = link_to 'Imprimir', informe_analisis_path(@dia.fecha, @promedio.turnoDia_id, :format => 'pdf'), :class => 'btn btn-success btn-large'
          = link_to 'Excel', informe_analisis_path(@dia.fecha, @promedio.turnoDia_id, :format => 'xls'), :class => 'btn btn-warning btn-large'
          = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
