.container
  .span12{:style => 'height:120px'}
    .row
      .span2
        %img{:src => '/assets/logo.png'}
      .span9
        %h1{:style => 'padding-top:20px;'}
          = @title
        %h2
          = "Dia Zafra Nro: #{time_diff(@zafra.dia_inicio, @dia.fecha)[2] + 1} - Dias Restantes: #{@dias_restantes}" if !@zafra.dia_inicio.nil? and !@dia.fecha.nil?
  .span12
    .row
      .span12
        %p.no_print
          = link_to 'Imprimir', informe_diario_path(@dia.fecha, :format => 'pdf'), :class => 'btn btn-success btn-large'
          = link_to 'Excel', informe_diario_path(@dia.fecha, :format => 'xls'), :class => 'btn btn-warning btn-large'
          = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
    .row
      .span12
        =render 'informe_diario_tabla'
    .row
      .span12
        %p=raw @dia.observaciones
        %p.no_print
          = link_to 'Imprimir', informe_diario_path(@dia.fecha, :format => 'pdf'), :class => 'btn btn-success btn-large'
          = link_to 'Excel', informe_diario_path(@dia.fecha, :format => 'xls'), :class => 'btn btn-warning btn-large'
          = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
