%table
  %tr
    %td
      = "1- MATERIA PRIMA"
    %td
      DIA
    %td
      ACUMULADO
  %tr
    %td
      RECEPCION
    %td
    %td
  %tr
    %td
      Azucar Crudo (kg)
    %td
      = @recepcion.azucar_crudo if !@recepcion.nil?
    %td
      = @recepcion_zafra['azucar_crudo'] if !@recepcion_zafra['azucar_crudo'].nil?
  %tr
    %td
      ELABORACION
    %td
    %td
  %tr
    %td
      Mat. Prima Procesada(crudo Procesado) (kg)
    %td
      = @insumo['crudoProcesado']
    %td
      = @insumo_zafra['crudoProcesado']
  %tr
    %td
      Mat. Prima Procesada Promedio (kg)
    %td
    %td
      = @insumo_zafra_promedio['crudoProcesado']
  %tr
    %td
      Stock Mat Prima (kg)
    %td
    %td
      = @stock_mat_prima
  %tr
    %td
      = "2- PRODUCCION"
    %td
      DIA
    %td
      = "% CRUDO"
    %th
      = "% BLANCO"
    %th
      ACUMULADO
    %th
      = "AC % CRUDO"
    %th
      = "AC % BLANCO"
    %th
      = "% CUMP"
  %tr
    %td
      Paquetes Papel (kg)
    %td
      = @produccion['paquetesPapel']
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion['paquetesPapel'] / @insumo['crudoProcesado'] ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion['paquetesPapel'] / @total_azucar_blanco ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @produccion_zafra['paquetesPapel']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion_zafra['paquetesPapel'] / @insumo_zafra['crudoProcesado'] ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion_zafra['paquetesPapel'] / @total_azucar_blanco_zafra ) * 100).to_s if @total_azucar_blanco_zafra != 0
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.paquetesPapel == 0 or @produccion_zafra['paquetesPapel'] == 0
      = "%01.2f" % ((@produccion_zafra['paquetesPapel'].to_f / @pedido_produccion.paquetesPapel.to_f ) * 100).to_s if @produccion_zafra['paquetesPapel'] != 0
  %tr
    %td
      Paquetes Polietileno (kg)
    %td
      = @produccion['paquetesPolietileno']
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion['paquetesPolietileno'] / @insumo['crudoProcesado'] ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion['paquetesPolietileno'] / @total_azucar_blanco ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @produccion_zafra['paquetesPolietileno']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion_zafra['paquetesPapel'] / @insumo_zafra['crudoProcesado'] ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion_zafra['paquetesPolietileno'] / @total_azucar_blanco_zafra ) * 100).to_s if @total_azucar_blanco_zafra != 0
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.paquetesPolietileno == 0 or @produccion_zafra['paquetesPolietileno'] == 0
      = "%01.2f" % ((@produccion_zafra['paquetesPolietileno'].to_f / @pedido_produccion.paquetesPolietileno.to_f ) * 100).to_s if @produccion_zafra['paquetesPolietileno'] != 0
  %tr
    %td
      Azucar Industria Bolsas (kg)
    %td
      = @produccion['industriaBolsas']
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion['industriaBolsas'] / @insumo['crudoProcesado'] ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion['industriaBolsas'] / @total_azucar_blanco ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @produccion_zafra['industriaBolsas']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion_zafra['industriaBolsas'] / @insumo_zafra['crudoProcesado'] ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion_zafra['industriaBolsas'] / @total_azucar_blanco_zafra ) * 100).to_s if @total_azucar_blanco_zafra != 0
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.industriaBolsas == 0 or @produccion_zafra['industriaBolsas'] == 0
      = "%01.2f" % ((@produccion_zafra['industriaBolsas'].to_f / @pedido_produccion.industriaBolsas.to_f ) * 100).to_s if @produccion_zafra['industriaBolsas'] != 0
  %tr
    %td
      Azucar bolsas Azucarlito (kg)
    %td
      = @produccion['bolsasAzucarlito']
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion['bolsasAzucarlito'] / @insumo['crudoProcesado'] ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion['bolsasAzucarlito'] / @total_azucar_blanco ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @produccion_zafra['bolsasAzucarlito']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion_zafra['bolsasAzucarlito'] / @insumo_zafra['crudoProcesado'] ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion_zafra['bolsasAzucarlito'] / @total_azucar_blanco_zafra ) * 100).to_s if @total_azucar_blanco_zafra != 0
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.bolsasAzucarlito == 0 or @produccion_zafra['bolsasAzucarlito'] == 0
      = "%01.2f" % ((@produccion_zafra['bolsasAzucarlito'].to_f / @pedido_produccion.bolsasAzucarlito.to_f ) * 100).to_s if @produccion_zafra['bolsasAzucarlito'] != 0
  %tr
    %td
      Azucar Big Bag Azucarlito (kg)
    %td
      = @produccion['bigBagAzucarlito']
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion['bigBagAzucarlito'] / @insumo['crudoProcesado'] ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion['bigBagAzucarlito'] / @total_azucar_blanco ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @produccion_zafra['bigBagAzucarlito']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion_zafra['bigBagAzucarlito'] / @insumo_zafra['crudoProcesado'] ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion_zafra['bigBagAzucarlito'] / @total_azucar_blanco_zafra ) * 100).to_s if @total_azucar_blanco_zafra != 0
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.bigBagAzucarlito == 0 or @produccion_zafra['bigBagAzucarlito'] == 0
      = "%01.2f" % ((@produccion_zafra['bigBagAzucarlito'].to_f / @pedido_produccion.bigBagAzucarlito.to_f ) * 100).to_s if @produccion_zafra['bigBagAzucarlito'] != 0
  %tr
    %td
      Azucar Big Bag Industria (kg)
    %td
      = @produccion['bigBagDnd']
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion['bigBagDnd'] / @insumo['crudoProcesado'] ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion['bigBagDnd'] / @total_azucar_blanco ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @produccion_zafra['bigBagDnd']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion_zafra['bigBagDnd'] / @insumo_zafra['crudoProcesado'] ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@produccion_zafra['bigBagDnd'] / @total_azucar_blanco_zafra ) * 100).to_s if @total_azucar_blanco_zafra != 0
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.bigBagDnd == 0 or @produccion_zafra['bigBagDnd'] == 0
      = "%01.2f" % ((@produccion_zafra['bigBagDnd'].to_f / @pedido_produccion.bigBagDnd.to_f ) * 100).to_s if @produccion_zafra['bigBagDnd'] != 0
  - @clientes.each do |cliente|
    %tr
      %td
        = "Azucar Big Bag #{cliente} (kg)"
      %td
        = @produccion[cliente]
      %td
        = 0 if @insumo['crudoProcesado'] == 0
        = "%01.2f" % ((@produccion[cliente].to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
      %td
        = 0 if @total_azucar_blanco == 0
        = "%01.2f" % ((@produccion[cliente].to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
      %td
        = @produccion_zafra[cliente]
      %td
        = 0 if @insumo_zafra['crudoProcesado'] == 0
        = "%01.2f" % ((@produccion_zafra[cliente].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
      %td
        = 0 if @total_azucar_blanco == 0
        = "%01.2f" % ((@produccion_zafra[cliente].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
      %td
        = "%01.2f" % 0.to_s if @pedido_produccion_clientes[cliente] == 0
        = "%01.2f" % ((@produccion_zafra[cliente].to_f / @pedido_produccion_clientes[cliente].to_f ) * 100).to_s if @pedido_produccion_clientes[cliente] != 0
  %tr
    %td
      Total Bolsas (kg)
    %td
      = @total_bolsas
    %td
    %td
    %td
      = @total_bolsas_zafra
    %td
    %td
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.nil? or @pedido_produccion.total_bolsas == 0
      = "%01.2f" % ((@total_bolsas_zafra.to_f / @pedido_produccion.total_bolsas.to_f ) * 100).to_s if @pedido_produccion.total_bolsas != 0
  %tr
    %td
      Total Big Bag (kg)
    %td
      = @total_big_bag
    %td
    %td
    %td
      = @total_big_bag_zafra
    %td
    %td
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.nil? or @pedido_produccion.total_big_bag == 0
      - # Rails.logger.info '============= TOTAL BIG BAG ================'
      - # Rails.logger.info @pedido_produccion.total_big_bag.to_f
      = "%01.2f" % ((@total_big_bag_zafra.to_f / @pedido_produccion.total_big_bag.to_f ) * 100).to_s if @pedido_produccion.total_big_bag != 0

  %tr
    %td
      Total Azucar Blanco (kg)
    %td
      = @total_azucar_blanco
    %td
      = "%01.2f" % @porcentual_azucar_blanco.to_f if !@porcentual_azucar_blanco.nil?
    %td
    %td
      = @total_azucar_blanco_zafra
    %td
      = "%01.2f" % @porcentual_azucar_blanco_zafra.to_f if !@porcentual_azucar_blanco_zafra.nil?
    %td
    %td
      = "%01.2f" % 0.to_s if @pedido_produccion.nil? or @pedido_produccion.total_big_bag == 0
      - # Rails.logger.info '============= TOTAL AZUCAR BLANCO ================'
      - # Rails.logger.info @pedido_produccion.total_azucar_blanco.to_f
      = "%01.2f" % ((@total_azucar_blanco_zafra.to_f / @pedido_produccion.total_azucar_blanco.to_f ) * 100).to_s if @pedido_produccion.total_azucar_blanco != 0

  %tr
    %td
      Melaza (kg)
    %td
      = @produccion['melaza']
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion['melaza'] / @insumo['crudoProcesado'] ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
    %td
      = @produccion_zafra['melaza']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion_zafra['melaza'] / @insumo_zafra['crudoProcesado'] ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
  %tr
    %td
      Azucar Rubio (kg)
    %td
      = @produccion['rubio']
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion['rubio'] / @insumo['crudoProcesado'] ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
    %td
      = @produccion_zafra['rubio']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@produccion_zafra['rubio'] / @insumo_zafra['crudoProcesado'] ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
  %tr
    %td
      = "3- CONSUMOS"
    %td
      DIA
    %td
      = "% CRUDO"
    %td
      = "% BLANCO"
    %td
      ACUMULADO
    %td
      = "AC % CRUDO"
    %td
      = "AC % BLANCO"
  %tr
    %td
      Cal viva (kg)
    %td
      = @insumo_diario.cal_viva
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario.cal_viva.to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = "%01.2f" % ((@insumo_diario.cal_viva.to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @insumo_diario_zafra['cal_viva']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario_zafra['cal_viva'].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@insumo_diario_zafra['cal_viva'].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
  %tr
    %td
      Carbon activado (kg)
    %td
      = @insumo_diario.carbon_activado
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario.carbon_activado.to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = "%01.2f" % ((@insumo_diario.carbon_activado.to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @insumo_diario_zafra['carbon_activado']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario_zafra['carbon_activado'].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@insumo_diario_zafra['carbon_activado'].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
  %tr
    %td
      Auxiliar Filtracion (kg)
    %td
      = @insumo_diario.auxiliar_filtracion
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario.auxiliar_filtracion.to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = "%01.2f" % ((@insumo_diario.auxiliar_filtracion.to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @insumo_diario_zafra['auxiliar_filtracion']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario_zafra['auxiliar_filtracion'].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@insumo_diario_zafra['auxiliar_filtracion'].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
  %tr
    %td
      Acido Clorhidrico (lt)
    %td
      = @insumo_diario.acido_clorhidrico
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario.acido_clorhidrico.to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = "%01.2f" % ((@insumo_diario.acido_clorhidrico.to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @insumo_diario_zafra['acido_clorhidrico']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario_zafra['acido_clorhidrico'].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@insumo_diario_zafra['acido_clorhidrico'].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
  %tr
    %td
      Leña caldera (kg)
    %td
      = @insumo_diario.lenia_caldera
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario.lenia_caldera.to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = "%01.2f" % ((@insumo_diario.lenia_caldera.to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @insumo_diario_zafra['lenia_caldera']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario_zafra['lenia_caldera'].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@insumo_diario_zafra['lenia_caldera'].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
  %tr
    %td
      Chip (kg)
    %td
      = @insumo_diario.chip
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario.chip.to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = "%01.2f" % ((@insumo_diario.chip.to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @insumo_diario_zafra['chip']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario_zafra['chip'].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@insumo_diario_zafra['chip'].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
  %tr
    %td
      Aserrin (kg)
    %td
      = @insumo_diario.aserrin
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario.aserrin.to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = "%01.2f" % ((@insumo_diario.aserrin.to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @insumo_diario_zafra['aserrin']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario_zafra['aserrin'].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@insumo_diario_zafra['aserrin'].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
  %tr
    %td
      Gasoil (lt)
    %td
      = @insumo_diario.gasoil
    %td
      = 0 if @insumo['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario.gasoil.to_f / @insumo['crudoProcesado'].to_f ) * 100).to_s if @insumo['crudoProcesado'] != 0
    %td
      = "%01.2f" % ((@insumo_diario.gasoil.to_f / @total_azucar_blanco.to_f ) * 100).to_s if @total_azucar_blanco != 0
    %td
      = @insumo_diario_zafra['gasoil']
    %td
      = 0 if @insumo_zafra['crudoProcesado'] == 0
      = "%01.2f" % ((@insumo_diario_zafra['gasoil'].to_f / @insumo_zafra['crudoProcesado'].to_f ) * 100).to_s if @insumo_zafra['crudoProcesado'] != 0
    %td
      = 0 if @total_azucar_blanco == 0
      = "%01.2f" % ((@insumo_diario_zafra['gasoil'].to_f / @total_azucar_blanco_zafra.to_f ) * 100).to_s if @total_azucar_blanco_zafra != 0
  %tr
    %td
      = "4 - BALANCE ESTIMADO"
    %td
      Valor
    %td
      Valor Ingresado
  %tr
    %td
      Azucar Circulante Actual (kg)
    %td
      = @azucar_circulante_actual.ceil
    %td
  %tr
    %td
      Pol Entrada (kg)
    %td= @pol_entrada.ceil
    %td
      = "%01.2f" % @recepcion.polarizacion.to_s if !@recepcion.polarizacion.nil?
  %tr
    %td
      Perdida en Azucar (kg)
    %td= @perdida_en_azucar.ceil
    %td
      = "%01.2f" % @recepcion.perdida_en_azucar.to_s if !@recepcion.perdida_en_azucar.nil?
  %tr
    %td
      Perdida en melaza (kg)
    %td
      = @perdida_en_melaza.ceil
    %td
      = "%01.2f" % @recepcion.azucar_en_melaza.to_s if !@recepcion.azucar_en_melaza.nil?
  %tr
    %td
      = "Rendimiento estimado (%)"
    %td
      = "%01.1f" % @rendimiento_estimado.to_s
    %td
  %tr
    %td
      Observaciones
    %td
      =raw @dia.observaciones
