.container
  .well
    %h1
      = @title
  .row
    .span12
      %p.no_print
        = link_to 'Imprimir', informe_insumos_por_turno_path(@dia.fecha, :format => 'pdf'), :class => 'btn btn-success btn-large'
        = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
  .row
    .span12
      =render 'insumos_por_turno', :turnos => @dia.turnos, :total => @totales
  .row
    .span12
      %p.no_print
        = link_to 'Imprimir', informe_insumos_por_turno_path(@dia.fecha, :format => 'pdf'), :class => 'btn btn-success btn-large'
        = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
