.container
  .span12{:style => 'height:120px'}
    .row
      .span3
        %img{:src => '/assets/logo.png'}
      .span9
        %h1{:style => 'padding-top:50px;'}
          = @title
  .row
    .span12
      %p.no_print
        = link_to 'Imprimir', informe_produccion_masas_cocidas_path(@dia.fecha, :format => 'pdf'), :class => 'btn btn-success btn-large'
        = link_to 'Excel', informe_produccion_masas_cocidas_path(@dia.fecha, :format => 'xls'), :class => 'btn btn-warning btn-large'
        = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
  .row
    .span12
      =render 'produccion_masas_cocidas', :produccionMasa => @dia.produccionMasa
  .row
    .span12
      %p.no_print
        = link_to 'Imprimir', informe_produccion_masas_cocidas_path(@dia.fecha, :format => 'pdf'), :class => 'btn btn-success btn-large'
        = link_to 'Excel', informe_produccion_masas_cocidas_path(@dia.fecha, :format => 'xls'), :class => 'btn btn-warning btn-large'
        = link_to 'Volver', ver_dia_path(@dia.fecha), :class => 'btn btn-danger btn-large'
