%table
  %tr
    %td
      Nombre
    %td
      Valor
  %tr
    %td
      Azucar Crudo (kg)
    %td
      = @dia.recepcion.azucar_crudo
  %tr
    %td
      = "Polarizacion (%)"
    %td
      = @dia.recepcion.polarizacion
  %tr
    %td
      = "Perdida en Azucar (%)"
    %td
      = @dia.recepcion.perdida_en_azucar
  %tr
    %td
      Azucar en Melaza (kg)
    %td
      = @dia.recepcion.azucar_en_melaza
