#recepciones
  %fieldset
    %legend=@title
    = f.hidden_field :id, :id => 'id'
    = f.hidden_field :dia_id, :value => @dia.id
    .control-group.primero
      = f.label 'Azucar Crudo (Kg)', :class => 'control-label'
      .input
        = f.text_field :azucar_crudo, "data-name" => 'azucar_crudo', :class => 'campo'
    .control-group
      = f.label "Polarizacion (%)", :class => 'control-label'
      .input
        = f.text_field :polarizacion, "data-name" => 'polarizacion', :class => 'campo'
    .control-group
      = f.label "Perdida en Azucar (%)", :class => 'control-label'
      .input
        = f.text_field :perdida_en_azucar, "data-name" => 'perdida_en_azucar', :class => 'campo'
    .control-group
      = f.label "Azucar en Melaza (Kg)", :class => 'control-label'
      .input
        = f.text_field :azucar_en_melaza, "data-name" => 'azucar_en_melaza', :class => 'campo'
.form-actions
  = f.submit boton, :class => "btn btn-large btn-primary"
  = link_to 'Cancelar', ver_dia_path(@dia.fecha), :class => "btn btn-large btn-danger"
