%tr
	%td AZUCAR AFINADA
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_brix, :class => 'input-small', "data-name" => 'azucar_afinada_brix'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_pol, :class => 'input-small', "data-name" => 'azucar_afinada_pol'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_pza, :class => 'input-small', "data-name" => 'azucar_afinada_pza'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_ph, :class => 'input-small', "data-name" => 'azucar_afinada_ph'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_color, :class => 'input-small', "data-name" => 'azucar_afinada_color'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_ceniza, :class => 'input-small', "data-name" => 'azucar_afinada_ceniza'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_invert, :class => 'input-small', "data-name" => 'azucar_afinada_invert'
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_humedad, :class => 'input-small', "data-name" => 'azucar_afinada_humedad'








