%tr
	%td AZUCAR CRUDO
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_brix, :class => 'input-small', "data-name" => 'azucar_crudo_brix'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_pol, :class => 'input-small', "data-name" => 'azucar_crudo_pol'
	%td
		.control-group
			.input
				= f.hidden_field :azucar_crudo_pza, :class => 'input-small', "data-name" => 'azucar_crudo_pza'
				%span#azucar_crudo_pza.pza
					= @analisis.azucar_crudo_pza
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_ph, :class => 'input-small', "data-name" => 'azucar_crudo_ph'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_color, :class => 'input-small', "data-name" => 'azucar_crudo_color'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_ceniza, :class => 'input-small', "data-name" => 'azucar_crudo_ceniza'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_invert, :class => 'input-small', "data-name" => 'azucar_crudo_invert'
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_humedad, :class => 'input-small', "data-name" => 'azucar_crudo_humedad'







