%tr
	%td AZUCAR CRUDO
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_brix, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_pol, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_pza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_ph, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_color, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_ceniza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_invert, :class => 'input-small'
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_crudo_humedad, :class => 'input-small'







