%tr
	%td AZUCAR AFINADA
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_brix, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_pol, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_pza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_ph, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_color, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_ceniza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_invert, :class => 'input-small'
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_afinada_humedad, :class => 'input-small'








