%tr
	%td JARABE
	%td
		.control-group
			.input
				= f.text_field :jarabe_brix, :class => 'input-small', "data-name" => 'jarabe_brix'
	%td
		.control-group
			.input
				= f.text_field :jarabe_pol, :class => 'input-small', "data-name" => 'jarabe_pol'
	%td
		.control-group
			.input
				= f.hidden_field :jarabe_pza, :class => 'input-small', "data-name" => 'jarabe_pza'
				%span#jarabe_pza.pza
					=@analisis.jarabe_pza
	%td
		.control-group
			.input
				= f.text_field :jarabe_ph, :class => 'input-small', "data-name" => 'jarabe_ph'
	%td
		.control-group
			.input
				= f.text_field :jarabe_color, :class => 'input-small', "data-name" => 'jarabe_color'
	%td
	%td
	%td
	%td
