%tr
	%td MELAZA
	%td
		.control-group
			.input
				= f.text_field :melaza_brix, :class => 'input-small', "data-name" => 'melaza_brix'
	%td
		.control-group
			.input
				= f.text_field :melaza_pol, :class => 'input-small', "data-name" => 'melaza_pol'
	%td
		.control-group
			.input
				= f.hidden_field :melaza_pza, :class => 'input-small', "data-name" => 'melaza_pza'
				%span#melaza_pza.pza
					=@analisis.melaza_pza
	%td
		.control-group
			.input
				= f.text_field :melaza_ph, :class => 'input-small', "data-name" => 'melaza_ph'
	%td
	%td
		.control-group
			.input
				= f.text_field :melaza_ceniza, :class => 'input-small', "data-name" => 'melaza_ceniza'
	%td
		.control-group
			.input
				= f.text_field :melaza_invert, :class => 'input-small', "data-name" => 'melaza_invert'
	%td
	%td
