%tr
	%td MIEL DE AFINACION
	%td
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_brix, :class => 'input-small', "data-name" => 'miel_de_afinacion_brix'
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_pol, :class => 'input-small', "data-name" => 'miel_de_afinacion_pol'
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_pza, :class => 'input-small', "data-name" => 'miel_de_afinacion_pza'
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_ph, :class => 'input-small', "data-name" => 'miel_de_afinacion_ph'
	%td
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_ceniza, :class => 'input-small', "data-name" => 'miel_de_afinacion_ceniza'
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_invert, :class => 'input-small', "data-name" => 'miel_de_afinacion_invert'
	%td
	%td







