%tr
	%td MIEL A
	%td
	%td
		.control-group
			.input
				= f.text_field :miel_a_brix, :class => 'input-small', "data-name" => 'miel_a_brix'
	%td
		.control-group
			.input
				= f.text_field :miel_a_pol, :class => 'input-small', "data-name" => 'miel_a_pol'
	%td
		.control-group
			.input
				= f.hidden_field :miel_a_pza, :class => 'input-small', "data-name" => 'miel_a_pza'
				%span#miel_a_pza.pza
					=@analisis.miel_a_pza
	%td
		.control-group
			.input
				= f.text_field :miel_a_ph, :class => 'input-small', "data-name" => 'miel_a_ph'
	%td
		.control-group
			.input
				= f.text_field :miel_a_color, :class => 'input-small', "data-name" => 'miel_a_color'
	%td
	%td
	%td
	%td







