%tr
	%td MIEL DE AFINACION
	%td
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_brix, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_pol, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_pza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_ph, :class => 'input-small'
	%td
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_ceniza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :miel_de_afinacion_invert, :class => 'input-small'
	%td
	%td







