%tr
	%td 1a. FILTRACION
	%td
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_brix, :class => 'input-small', "data-name" => 'primera_filtracion_brix'
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_pol, :class => 'input-small', "data-name" => 'primera_filtracion_pol'
	%td
		.control-group
			.input
				= f.hidden_field :primera_filtracion_pza, :class => 'input-small', "data-name" => 'primera_filtracion_pza'
				%span#primera_filtracion_pza.pza
					=@analisis.primera_filtracion_pza
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_ph, :class => 'input-small', "data-name" => 'primera_filtracion_ph'
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_color, :class => 'input-small', "data-name" => 'primera_filtracion_color'
	%td
	%td
	%td
	%td







