%tr
	%td 1a. FILTRACION
	%td
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_brix, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_pol, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_pza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_ph, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :primera_filtracion_color, :class => 'input-small'
	%td
	%td
	%td
	%td







