%tr
	%td REFUNDICION(JCr)
	%td
	%td
		.control-group
			.input
				= f.text_field :refundicion_brix, :class => 'input-small', "data-name" => 'refundicion_brix'
	%td
		.control-group
			.input
				= f.text_field :refundicion_pol, :class => 'input-small', "data-name" => 'refundicion_pol'
	%td
		.control-group
			.input
				= f.text_field :refundicion_pza, :class => 'input-small', "data-name" => 'refundicion_pza'
	%td
		.control-group
			.input
				= f.text_field :refundicion_ph, :class => 'input-small', "data-name" => 'refundicion_ph'
	%td
		.control-group
			.input
				= f.text_field :refundicion_color, :class => 'input-small', "data-name" => 'refundicion_color'
	%td
	%td
	%td
	%td








