%td= link_to "#{l zafra.dia_inicio}", escritorio_dia_path(zafra.dia_inicio)
- if zafra.dia_fin.nil?
  %td= ''
- else
  %td= "#{l zafra.dia_fin}"
%td
  = link_to edit_zafra_path(zafra) do
    %i.icon.icon-pencil
  = link_to zafra, :method => :delete, :confirm => "Seguro que desea borrarla?", :title => "Borrar Zafra: #{zafra.dia_inicio}" do
    %i.icon.icon-trash
