.sidebar
	.well
		%h1= @title
		%h5 Acciones
		%ul.pills
			%li
				= link_to "Crear Usuario", crearusuario_path
			%li
				= link_to "Trabajar con Usuarios", usuarios_path
			%li
				= link_to "Trabajar con Turnos", turnos_path
			%li
				= link_to "Ver Actividad", actividades_path
.content
	.hero-unit
		%h2
			Escritorio de trabajo del administrador
	.row
		.span9
			%h2 Ultimos usuarios
			= render 'ultimos_usuarios', :usuarios => @ultimosUsuarios
		.span10
			%h2 Visor de actividad reciente
			= render '/actividades/log_actividad', :actividades => @actividades
	=render 'layouts/footer'
