.row-fluid
  .span2
    .well.sidebar-nav
      %h3= @title
      %h5 Acciones
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to "Ir a Dia Actual", ver_dia_path(Date.today)
        %li
          = link_to 'Zafras', zafras_path()
  .span10
    .row-fluid
      .span9
        %h2 Calendario de actividad
        %input{:type => 'hidden', :name => 'dia', :id => 'dia', :value => "#{@date}"}
        = render 'dias'
      .span1
        %table.table
          %thead
            %tr
              %th
                Color
              %th
                Significado
          %tbody
            %tr
              %td.abierto
                &nbsp;
              %td
                D&iacute;a Actual
            %tr
              %td.cerrado
                &nbsp;
              %td
                D&iacute;a Anterior
            %tr
              %td.anulado
                &nbsp;
              %td
                D&iacute;a Futuro
            %tr
              %td.zafra_vieja
                &nbsp;
              %td
                Zafra Anterior
            %tr
              %td.zafra
                &nbsp;
              %td
                Zafra Actual
=render 'layouts/footer'
