%fieldset
	%legend=@title
	=f.hidden_field :cambiando, :value => 3
	.control-group.primero
		= f.label :password, :class => 'control-label'
		.input
			= f.password_field :password
	.control-group
		= f.label :password_confirmation, :class => 'control-label'
		.input
			= f.password_field :password_confirmation
	.form-actions
		= f.submit boton, :class => "btn btn-large btn-primary"
		= link_to 'Cancelar', edit_usuario_path(@usuario), :class => "btn btn-large btn-danger"
