%fieldset
	%legend=@title
	=f.hidden_field :cambiando, :value => 3
	.clearfix
		= f.label :password
		.input
			= f.password_field :password
	.clearfix
		= f.label :password_confirmation
		.input
			= f.password_field :password_confirmation
	.actions
		= f.submit boton, :class => "btn large primary"
		= link_to 'Cancelar', edit_usuario_path(@usuario), :class => "btn large error"
