= render 'shared/error_messages', :object => f.object
%div.formulario.prepend-4
	%div.field.span-20
		%p.labelForm= f.label :nombre
		%span.inputForm= f.text_field :nombre
	%div.field.span-20
		%p.labelForm= f.label :email
		%span.inputForm= f.text_field :email
	%div.field.span-20
		%p.labelForm= f.label :password
		%span.inputForm= f.password_field :password
	%div.field.span-20
		%p.labelForm= f.label :password_confirmation
		%span.inputForm= f.password_field :password_confirmation
	- if usuario_actual.admin? and usuario_actual != @usuario
		%div.field.span-20
			%p.labelForm
				%span=f.label :admin, "Admistrador?"
				%span.inputForm= f.check_box :admin
	%div.actions.span-20
		%p= f.submit boton
