%fieldset.inputs
	%ol
		%li
			= f.label :nombre
			= f.text_field :nombre
		%li
			= f.label :email
			= f.text_field :email
		%li
			= f.label :password
			= f.password_field :password
		%li
			= f.label :password_confirmation
			= f.password_field :password_confirmation
		- if usuario_actual.admin? and usuario_actual != @usuario
			%li
				=f.label :admin, "Admistrador?"
				= f.check_box :admin
%fieldset.buttons
	%ol
		%li.commit
			= f.submit 'Crear'
		%li.cancel
			= link_to 'Cancelar', usuarios_path
