= form_for @search, :html => {:class => 'form-horizontal'} do |f|
	%fieldset
		%legend Filtros
		.control-group
			= f.label :nombre_contains, "Nombre: ", :class => 'control-label'
			= f.text_field :nombre_contains, :class => "xlarge"
		.control-group
			= f.label :email_contains, "Email: ", :class => 'control-label'
			= f.text_field :email_contains, :class => "xlarge"
		.form-actions
			= f.submit "Buscar", :class => "btn btn-large btn-success"

