%td= usuario.email
%td= usuario.nombre
%td
	= link_to 'Ver', usuario_path(usuario)
	= link_to 'Editar', edit_usuario_path(usuario)
	= link_to "Borrar", usuario, :method => :delete, :confirm => "Estas seguro?", :title => "Borrar #{usuario.nombre}"
