%table{ :class => "perfil", :summary => "Informacion del perfil de usuario" }
	%tr
		%td.main
			%h1= @usuario.nombre
		%td.sidebar.round
			%strong 
				Nombre
			= @usuario.nombre
			%br
			%strong
				Email
			= @usuario.email
			%br
			%strong
				Ver
			= link_to usuario_path(@usuario), @usuario
			%br
			%strong
				Editar
			= link_to edit_usuario_path(@usuario), edit_usuario_path(@usuario)
