= form_for @search, :html => {:class => 'form-horizontal'} do |f|
	%fieldset
		%legend Filtros
		.control-group
			= f.label :usuario_email_contains, "Email: ", :class => 'control-label'
			= f.text_field :usuario_email_contains
		.control-group
			= f.label :created_at_gte, "Fecha mayor que:", :class => 'control-label'
			= f.text_field :created_at_gte, :include_blank => true, :class => 'fecha'
		.control-group
			= f.label :created_at_lte, "Fecha menor que:", :class => 'control-label'
			= f.text_field :created_at_lte, :include_blank => true, :class => 'fecha'
		.form-actions
			= f.submit "Buscar", :class => "btn btn-large btn-success"

