= form_for @search do |f|
	%fieldset
		%legend Filtros
		.clearfix
			= f.label :usuario_email_contains, "Email: "
			= f.text_field :usuario_email_contains, :class => "xlarge"
		.clearfix
			= f.label :created_at_gte, "Fecha mayor que:"
			= f.text_field :created_at_gte, :include_blank => true, :class => "fecha"
		.clearfix
			= f.label :created_at_lte, "Fecha menor que:"
			= f.text_field :created_at_lte, :include_blank => true, :class => "fecha"
		.actions
			= f.submit "Buscar", :class => "btn large success"

