%td= link_to turno.nombre, turno_path(turno)
%td= turno.orden
%td= turno.habilitado
%td
	= link_to edit_turno_path(turno) do
		%i.icon.icon-pencil
	= link_to turno, :method => :delete, :confirm => "Seguro que desea borrarlo?", :title => "Borrar #{turno.nombre}" do
		%i.icon.icon-trash
