%header
	%h1= titulo
	%nav.round.orange
		%ul
			%li= link_to "Inicio", root_path
			%li= link_to "Ayuda", ayuda_path
			- if ingresado?
				%li= link_to "Cuenta", usuario_actual
				%li= link_to "Salir", salir_path, :method => :delete
			- else
				%li= link_to "Ingresar", ingresar_path

