
%li
	= link_to "Ayuda", ayuda_path
- if ingresado?
	%li
		= link_to "Escritorio", escritorio_path
	- if usuario_actual.admin?
		%li
			= link_to "Usuarios", usuarios_path
		%li
			= link_to "Turnos", turnos_path
	%li
		= link_to "Cuenta", usuario_actual
	%li
		= link_to "Perfil", edit_usuario_path(usuario_actual)

