!!!5
%html
	%head
		%title= title
		= csrf_meta_tag
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
	%body
		.topbar
			.topbar-inner
				.container-fluid
					- if ingresado?
						= link_to "Laboratorio Azucarlito", escritorio_path, :class => "brand"
					- else
						= link_to "Laboratorio Azucarlito", root_path, :class => "brand"
					%ul.nav
						= render '/layouts/header'
					= render '/sessions/new'
		.intuitive-navigation
			= render '/shared/breadcrumbs'
		.messages.container
			= render '/layouts/flash', :flash => flash
		.container-fluid
			= yield



