!!!5
%html
	%head
		%title= title
		= csrf_meta_tag
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
	- if ingresado?
		%body.logged_in
			#wrapper
				#header
					%h1#site_title Laboratorio Azucarlito
					%ul.tabbed_navigation#tabs
						= render '/layouts/header'
					%p#utility_nav
						%span.current_user
							= usuario_actual.email
						= link_to "Salir", salir_path, :method => :delete
				=yield
				#footer
	
	- else
		%body.logged_out
			=yield

